/* color palette for light-mode */
:root {
  /* background color light-mode*/
  --bg-lm: #FBFBFB;

  /* background element light-mode*/
  --element-bg-lm: #FFFFF;

  /* border color light-mode */
  --element-border-color-lm: rgba(102, 102, 102, 10%);

  /* MiZaWra Colors */
  --black: #252626;
  --dark-gray: #9E9E9E;

  /* MiZaWra mode colors */
  --mode-blue: 3060FF;
  --mode-green: CDE82B;
  --mode-salmon: FDCAB9;

}

/* semantic sizes */

:root {
  --font-size-large: 2rem;
  --font-size-medium: 1rem;
  --font-size-label: .8rem;

  --button-width-modes: 354px;
  --gap-width-modes: 24px;
  --button-width-half-modes: calc(var(--button-width-modes) / 2);
  --button-height-modes: 122px;
  --prompt-circle-top-space: -50px;
  --prompt-circle-size: 70px;

  --card-height: 24vh;
  --card-width: var(--button-width-modes);

  --logged-in-border-width: 0.5px;

  --gradient-color-green: linear-gradient(0deg, rgba(205,232,43,1) 0%, rgba(251,251,251,1) 80%);

}

/* semantic color variables for this project */
:root {
  --color-background: var(--bg-lm);
  --color-heading: var(--black);
  --color-text: var(--black);
  --color-input-borders: var(--dark-gray);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {

    /* TODO: Add darkmode here */

  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  element-background: var(--element-bg-lm);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Roboto Monospaced, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: var(--font-size-medium);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
