.settings {
  display: grid;
  grid-template-columns: auto repeat(3, calc(var(--button-width-modes) + var(--gap-width-modes))) auto; /* 5 */
  grid-template-rows: var(--vertical-space-to-first-content) 65px auto 128px;
  text-align: center;
}

.setting-header {
  display: flex;
  align-items: center;
  text-transform: none;
  margin: 0;
}

h3 {
  font-size: var(--font-size-smaller-medium);
  font-weight: 500;
  text-transform: uppercase;
}

h3 a {
  color: var(--color-text);
}

#lang {
  margin-top: 61px;
}

.tabs h3:hover {
  color: var(--element-hovered);
  cursor: pointer;
}

#settingsInstructions {
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  align-items: center;
  column-gap: 74px;
  text-transform: uppercase;
  margin: 0;
}

.content {
  display: flex;
  justify-content: space-between;
  margin-top: 105px;
  grid-area: 3 / 2 / 4 / 5;
}

.personal-information, .password-information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input {
  width: 100%;
  padding: 12px 24px;
}

.theme-buttons {
  display: flex;
  column-gap: 32px;
}

.theme-button {
  font-family: var(--font-family-standard);
  background-color: var(--element-bg);
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 15px;
  border: 1.5px solid var(--element-border-color-lm, #B2B2B2);
  width: auto;
}

.theme-button:focus {
  outline:none;
}

.theme-button-activated {
  font-family: var(--font-family-standard);
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 15px;
  border: 1.5px solid var(--element-border-color-lm, #B2B2B2);
  background: rgba(158, 158, 158, 0.30);
}

.theme-lang {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  text-align: left;
}

.selectLang {
  font-family: var(--font-family-standard);
  font-size: 15px;
  border-radius: 8px;
  border: 1.5px solid #B2B2B2;
  width: 242px;
  padding: 12px 24px;
}

.selectLang:focus {
  overflow: hidden;
  outline:none;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  text-align: left;
}

.timer {
    display: flex;
    column-gap: 32px;
}

.timer input {
    -moz-appearance: textfield;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  width: 432px; /*TODO – make var and below in sub-password, too */
  height: 59px;
}

.buttons {
  display: flex;
  justify-content: center;
  column-gap: 12px;
  grid-area: 5 / 2 / 4 / 5;
  align-items: center;
}

.save:hover,
.cancel:hover {
  color: var(--element-hovered);
}

.save {
  margin-top: 40px;
  margin-bottom: 65px;
  padding: 12px 24px;

  background: var(--element-bg);

  border-width: var(--logged-in-border-width);
  border-style: solid;
  border-color: var(--element-border-color-lm);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 30px;


  font-family: var(--font-family-standard);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.01em;
}

.cancel {
  height: 41px;

  color: var(--color-text);
  margin-top: 40px;
  margin-bottom: 65px;
  padding: 12px 24px;
  background: transparent;
  font-family: var(--font-family-standard);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.01em;
}

.password-error {
  width: 432px;
}